.b-split-screen {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  @media screen and (min-width: 1024px) {
    .left-pane {
      width: 55%;
    }
  
    .right-pane {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .left-pane {
      display: none;
    }
  
    .right-pane {
      width: 100%;
    }
  }
  
  .right-pane{
    background-color:rgb(238, 238, 238);
  }